html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible',content='IE=edge')
        meta(name='viewport',content='width=device-width,initial-scale=1')

        title RDF-Ext distribution builder

        // bootstrap
        link(href='css/bootstrap.css',rel='stylesheet')

    body
        div(style='margin-top:20px;').container
            .row
                .col-lg-1
                    img(src='/images/logo.png', style='width:150px;').img-rounded

                .col-lg-offset-2.col-lg-6

                    if dist
                        .row
                                h3 Prebuilt distributions:

                                p
                                    a(href='/dist/rdf-ext-all-latest.js') latest version
                                p
                                    a(href='/dist/rdf-ext-all-latest.min.js') latest version minified
                                p
                                    a(href='/dist/') all files

                    .row
                            h3 Build your own custom RDF-Ext distribution:

                            form(action='/',method='post')
                                each module, name in modules
                                    .checkbox
                                        label
                                            input(type='checkbox',name=module.module)
                                            = module.description
                                .pull-right
                                    button(type='submit').btn.btn-default build

        script(src='js/jquery.js')
        script(src='js/bootstrap.js')
